<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sirius.mybatis.mapper.UserMapper">
  <!--type：cache使用的类型，默认是PerpetualCache，这在一级缓存中提到过。
    eviction： 定义回收的策略，常见的有FIFO，LRU。
    flushInterval： 配置一定时间自动刷新缓存，单位是毫秒。
    size： 最多缓存对象的个数。
    readOnly： 是否只读，若配置可读写，则需要对应的实体类能够序列化。
    blocking： 若缓存中找不到对应的key，是否会一直blocking，直到有对应的数据进入缓存。
    -->
  <!--<cache></cache>-->


  <select id="findById" parameterType="int" resultType="com.sirius.mybatis.entity.User">
    SELECT id,username from user where id = #{id}
  </select>



  <update id="update" parameterType="com.sirius.mybatis.entity.User" >
    update user set username = #{username} where id = #{id}
  </update>
</mapper>
